<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Poppins" rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <a href="/">
                <img class="small-img img-responsive" src="../img/truecaller-logo.png" alt="truecaller logo">
            </a>
        </div>

        <div class="col-sm-6 col-sm-offset-3">
            <h1 class="heading text-center">Login/SignUp</h1>

                    <!-- LOGIN FORM -->
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="tel" class="form-control" name="phone">
                        </div>

                        <button type="submit" class="btn btn-enter">Login</button>
                    </form>

                    <hr>

        </div>

    </div>
</body>

</html>