<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container">

        <div class="jumbotron text-center">
            <a href="/"><img class="img-responsive" src="../img/truecaller-logo.png" alt="truecaller logo"></a>

            <p>Login or Register with:</p>
            <div class="sign-in-buttons"></div>
                <a href="/login" class="btn btn-default">
                    <span class="email"></span> Login With Email</a>
                <a href="/signup" class="btn btn-default">
                    <span class="email"></span> Signup With Email</a>
            </div>
        </div>

    </div>
</body>

</html>