<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Poppins" rel="stylesheet">
</head>

<body>
    <div class="container"> 

        <div class="jumbotron text-center">
            <a href="/">
                <img class="small-img img-responsive" src="../img/truecaller-logo.png" alt="truecaller logo">
            </a>
        </div>

        <div class="col-sm-6 col-sm-offset-3">
            <h1 class="heading text-center">User Profile</h1>
            
            <hr>
            <p><strong>Name: </strong><span id='name'></span></p>
            <p><strong>Email: </strong><span id='email'></span></p>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
    var socket = io('https://still-basin-33822.herokuapp.com/');

    socket.on('connected', (data)=>{
        console.log("connected: ", data);
    });
    socket.on('err', function (data) {
        console.log("error: ", data);
    });
    socket.on('profile', function(data){
        console.log(data)
        var _data = JSON.stringify(data)
        console.log(typeof data);
        document.getElementById('name').innerText =_data.name
        document.getElementById('email').innerText = _data.onlineIdentities.email
        socket.disconnect();
    });
</script>

</html>